header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

header p a {
    text-decoration: none;
    color: blue;
}

.starter-display {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
}

.game-display {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    font-size: x-large;
}

.game-display button {
    width: 250px;
    text-align: left;
    margin-bottom: 15px;
}

section button {
    background-color: #351c75;
    border: none;
    color: white;
    display: inline block;
    padding: 15px 32px;
    border-radius: 15px;
    font-size: large;
    text-align: center;
}

section button:hover {
    background-color: #bd60e7;
}