header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    font-size: larger;
}

header p a {
    text-decoration: none;
    color: blue;
}

.starter-display {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: x-large;
}

.game-display {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    font-size: x-large;
}

.game-display button {
    width: 250px;
    text-align: left;
    margin-bottom: 15px;
}

.input-form label, .input-form input{
    margin-right: 15px;
    font-size: x-large;
}

.input-form button {
    width: auto;
}

section button {
    background-color: #351c75;
    border: none;
    color: white;
    display: inline block;
    padding: 15px 32px;
    border-radius: 15px;
    font-size: large;
    text-align: center;
}

section button:hover {
    background-color: #bd60e7;
}

.high-score-list ol {
    list-style-position: inside;
    padding-left: 0px;
    width: 50%;
}

.high-score-list li {
    padding: 3px 0 3px 10px;
    background-color: lightgray;
}

.high-score-list li:nth-child(odd) {
    background-color: lightsteelblue;
}

.end-button button {
    width: auto;
}

footer {
    color: lightgray;
    font-style: italic;
    font-size: 24px;
    margin: 0 auto;
    width: 50%;
    border-top: 5px solid lightgray;
}

@media screen and (max-width: 980px) {
    .high-score-list ol {
        width: 100%;
    }

    .game-display h1 {
        width: 100%;
    }
}